html {
	font-size: 100%;
	box-sizing: border-box;
	background: #4e54c8;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

header {
	background-color: transparent;
	z-index: -1;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
  	

  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -300%);
  	font-size: 55px;
	letter-spacing:0.1em;
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 3px;
  	-webkit-text-stroke-color: white;
  	text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.calculator {
	border: 1px solid #ccc;
	border-radius: 20px;
	position: absolute;
	background-color: #DFDDDD;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

.calculator-screen {
	width: 100%;
	font-size: 5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 80px;
	border: none;
	background-color: #252525;
	color: white;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;

}

button {
	/* font-family: 'Bungee Shade', cursive; */
	
    font-family: 'Fredericka the Great', cursive;

    /*font-family: 'Jacques Francois Shadow', cursive;*/

    /*font-family: 'Kaushan Script', cursive;*/

     /*font-family: 'Sacramento', cursive; */
	height: 60px;
	background-color: black;
	color: black;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	background-color: transparent;
	font-size: 2.5rem;
	background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
	background-color: #eaeaea;
	opacity: 1;
	transition: .5s;
}

.operator {
	color: #337cac;
}

.all-clear {
	background-color: #f0595f;
	border-color: #b0353a;
	color: #fff;
}

.all-clear:hover {
	background-color: #f17377;
}

.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	height: 100%;
	grid-area: 2/4/6/5;
}

.equal-sign:hover {
	background-color: #4e9ed4;
}

.calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
}







